{% from "_render_field.html" import render_field %}
{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}

{% from "_render_field.html" import render_field_group, render_field_check, flash_message %}
{% block content %}
<form method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <div class="container", style="margin-left: 30%; width: 40%;">
        <div>
            {{ render_field_group(form.type) }}
            {{ form.submit(class_ ="btn btn-success", style = "margin-top: 20px;") }}
            {{ flash_message() }}
            <a href="{{url_for('products.product_view_info')}}" class="btn btn-primary btn-xs" style = "margin-top: 20px; margin-left: 10px;">Назад</a>
        </div>
    </div>

</form>

{% endblock %}