{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}

{% from "_render_field.html" import render_field_group, render_field_check, flash_message %}

{% block content %} 
<div class = "container" style = "text-align: center; padding-left: 20%; padding-right: 20%; ">
    <h4>Зміна паролю для користувача {{ current_user.username }}</h4>
    <div>
        <form class="mx-1 mx-md-4" method="POST" action = "{{ url_for('auth.reset_password')}}">
            {{ form.csrf_token }}
            {{ render_field_group(form.old_password) }}
            {{ render_field_group(form.new_password) }}
            {{ render_field_group(form.repeat_new_password) }}
            <button class='btn btn-primary btn-lg'>Оновити пароль</button>
        </form>
    </div>
</div>
{% endblock %}