{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}

{% from "_render_field.html" import render_field_group, render_field_check, flash_message %}

{% block content %} 
<div class = "container" style = "text-align: center; padding-left: 20%; padding-right: 20%; ">
    <h4>Зміна паролю для користувача</h4>
    <div>
        <form method="POST" action="{{ url_for('auth.restore_password')}}">
            {{ form.csrf_token }}
            {{ render_field_group( form.password ) }}
            {{ render_field_group( form.confirm_password) }}
            {{ form.submit(class_ ="btn btn-success", style = "margin-top: 20px;") }}
        </form>
    </div>
</div>
{% endblock %}